/* roboto-regular - cyrillic */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: local(''),
url('../fonts/roboto-v27-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
url('../fonts/roboto-v27-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
 
/* roboto-500 - cyrillic */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: local(''),
url('../fonts/roboto-v27-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
url('../fonts/roboto-v27-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
 
/* roboto-700 - cyrillic */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: local(''),
url('../fonts/roboto-v27-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
url('../fonts/roboto-v27-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
 
html
{
box-sizing: border-box;
}
 
*, *::before, *::after
{
box-sizing: inherit;
}
 
.body
{
 
 
position: relative;
width: 1920px;
height: 5080px;
margin: 0 auto;
background: #FFFFFF;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #293343;


}
 
a
 { 

  
  text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #293343;



 }

 
.HEADER
{

position:relative ;
width: 1920px;
height: 228px;
margin: 0 auto;
display: flex;
flex-direction: column;



}
 
.top
{

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 86.84%;
display: inline-flex;
flex-direction: row;
align-items: center;
background: #293343;
align-content: center;
}






.vk_1
{
position: absolute;
left: 77.86%;
right: 20.73%;




}
.odnoklassniki_1
{
position: absolute;
left: 80.36%;
right: 18.98%;


}
.instagram_1
{


position: absolute;
left: 82.08%;
right: 16.88%;



}




.info
{
position: absolute;
left: 16.88%;
right: 16.88%;
top: 18.42%;
bottom: 46.93%;



display: inline-flex;
flex-flow: row;

justify-content: space-between;


}
 
 .but
{display: flex;
align-items: center;}


.za
{

 position: relative;

 
  border: 1px solid #917452;
  box-sizing: border-box;
  
  display: inline-flex;
  flex-direction: row;
 margin-right: 10px;
 align-items: center;
}

.zv
{  position: relative;
  
  border: 1px solid #917452;
  box-sizing: border-box;

  display: inline-flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
}








.menu
{
position: absolute;
left: 0%;
right: 0%;
top: 54.39%;
bottom: 11.84%;


padding: 0;
margin: 0;

display: flex;
flex-direction: column;
flex-grow: 1;


}
.line1
{
position: absolute;
border-bottom: 1px solid #CCCCCC;
flex-grow: 0; 
left: 16.88%;
right: 16.88%;



top: 54.39%;
bottom: 45.18%;


}

.line2
{
  position: absolute;
  border-bottom: 1px solid #CCCCCC;
  flex-grow: 0;
 
  left: 0%;
  right: 0%;
  top: 82.46%;
  bottom: 17.11%;
}


.nav
{

position: relative;
margin-left: 16.88%;
margin-right: 16.88%;

display: inline-flex;
 flex-grow: 1;

align-items: center;
justify-content: space-between;


list-style-type: none; 



}




.gl
{

transform: rotate(-180deg);
flex-grow: 1;
}
 
.di
{
 

}
 



 
.BOODY{

position: absolute;
width: 1920px;
height: 4490px;
left: 0px;
top: 189px;


 
 display: flex;
flex-direction: column;
align-items: center;

}
 

.prostr
{

position: relative;
width: 1920px;
height: 602px;
display: flex


}
.pro
{
position: relative;
width: 1060px;
height: 569px;


display: flex;
justify-content: center;
align-items:center ;



}

.prpro
{
position: absolute;
display: flex;
flex-direction: column;
align-items: center;



}

.h2pro
{
  position: relative;
  margin: 0;
  text-align: center;

}

.prepro
{ position: relative;
margin: 10px;
text-align: center;

}

.LV1
{
  position: relative;
margin: 10px;
width: 73px;
height: 83px;
}

.AL1
{
position: relative;
margin: 10px;
width: 143px;
height: 34px;
}


.stroi
{
position: relative;
width: 960px;
height: 450px;
margin-left:-5.20833%;
display:flex;
flex-direction: column;
align-items:center ;
justify-content: center;
}


.prstr
{

position: absolute;
display: flex;
flex-direction: column;

text-align: center;


}

.h2str
{position: relative;
  margin: 0;}

.prestr
{position: relative;
  margin: 10px;}

.PR1
{position: relative;
border: none;
margin: 10px;


}

.AR1
{
position: relative;
border: none;
margin: 10px;


}
 
.logoB
{

   position: absolute;
 
left: 43.3%;
  display: flex;
  flex-direction: column;
align-items: center;

z-index: 3;
}

.svgB
{
position: absolute;


}
.treyg
{
  position: absolute;

filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
display: flex;
flex-direction: column;
align-content: center;

}


.z
{position: relative;
margin-top: 50%;

display: flex;
flex-direction: column;
align-items: center;

}

.x
{
  position: relative;

margin-right: 7%;

}

.y
{
position: relative;
margin-top: 14%;

}


.re
{
position: relative;
display: inline-flex;

bottom: 5%;

}



.t
{
position: relative;
width: 733px;
height: 135px;
left: -55%;
top: 80%;
margin: 0; 


text-align: center;



}



 
rect1
{
position: relative;
width: 176px;
height: 32px;

background: #293343;
text-align: center;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 38px;
color: #FFFFFF;

display: flex;
justify-content: center;
align-items: center;


}
 
rect2
{
position: relative;
width: 205px;
height: 32px;
margin-left: 10px;
margin-right: 10px;
background: #293343;
text-align: center;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 38px;
color: #FFFFFF;

display: flex;
justify-content: center;
align-items: center;


}
 
rect3
{
position: relative;
width: 333px;
height: 32px;

background: #293343;
text-align: center;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 38px;
color: #FFFFFF;

display: flex;
justify-content: center;
align-items: center;


}



.sl1
{
position: relative;
width: 1270px;
height: 175px;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
top: 2.15%;
}
.slick-slider
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slick-list
{
  width: 1404px;
  justify-content: space-between;
  display: flex;

}
.slick-track
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slick-slide
{
position: relative;
width: 195px;
height: 80px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
display: flex;
justify-content: center; 
align-items: center;
margin-left: 10px;
margin-right: 10px;
}

.slick-dots
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;

}
.slick-dots li
{
  list-style:none;
  margin: 0px 10px;
}
.slick-dots button
{

  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #CCCCCC;
  border-radius: 50%;
  border: 0;
}

.slick-active button
{
  background: #293343;
  transition: background 0s;
 
}









.textc
{

position: relative;
width: 1272px;
top: 5%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.mi1
{
position: relative;
display: flex;
width: 315px;
height: 30px;




}

.card2
{
position: relative;
width: 1272px;
height: 920px;

 display: flex;
flex-wrap:wrap; 

  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}





.imgfl
{

position: relative;
display: flex;
flex-direction: column;
margin-top: 1.5%;


}

.imgp
{
  
position: absolute;  
display: flex;
flex-direction: column;
left: 10%;
top: 5%;
}

.dom
{
position: relative;
width: 1920px;dom
height: 470px;



display: flex;

align-items: center;
justify-content: center;
top: 6%;
}

.tdom
{
position: absolute;
display: flex;
flex-direction: column;
text-align: center;
margin: 0;
}

.textc2
{
position: relative;
width: 1272px;
top: 7%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.mi2
{

position: relative;
display: flex;
width: 382px;
height: 30px;

}

.card3
{

  position: relative;
width: 1272px;
height: 920px;

 display: flex;
flex-wrap:wrap; 

  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}



.spanrect
{
  border-bottom: 1px solid #CCCCCC;
  width: 95%;
  margin-top: 10px;
}

.asl2
{position: relative;
  margin-top:auto ;
}




.sl2
{
position: relative;
width: 1272px;
height: 425px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
top: 2.5%;
}
.sl2 .slick-slider2
{ 
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;


}
.sl2 .slick-slider2 .slick-list
{
  position: relative;
  width: 1272px;
  height: 100%;
  justify-content: space-between;
  display: flex;

}
.sl2 .slick-slider2 .slick-track
{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.sl2 .slick-slider2 .slick-slide2
{
position: relative;
display: flex;
flex-direction: column;
height: 100%;
border: 0;
margin: 0;
align-items: start;


}

.sl2 .slick-slider2 .slick-dots
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;

}
.sl2 .slick-slider2 .slick-dots li
{
  list-style:none;
  margin: 0px 10px;
}
.sl2 .slick-slider .slick-dots button
{

  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #CCCCCC;
  border-radius: 50%;
  border: 0;
}

.sl2 .slick-slider .slick-active button
{
  background: #293343;
  transition: background 0s;
 
}





.sl3
{
position: relative;
width: 1272px;
height: 485px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
top: 2.5%;
}
.sl3 .slick-slider3
{ 
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;


}
.sl3 .slick-slider3 .slick-list
{
  position: relative;
  width: 1272px;
  height: 100%;
  justify-content: space-between;
  display: flex;

}
.sl3 .slick-slider3 .slick-track
{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.sl3 .slick-slider3 .slick-slide3
{
position: relative;
display: flex;
flex-direction: column;
height: 100%;
border: 0;
align-items: start;
margin: 0;


}

.sl3 .slick-slider3 .slick-dots
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;

}
.sl3 .slick-slider3 .slick-dots li
{
  list-style:none;
  margin: 0px 10px;
}
.sl3 .slick-slider .slick-dots button
{

  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #CCCCCC;
  border-radius: 50%;
  border: 0;
}

.sl3 .slick-slider .slick-active button
{
  background: #293343;
  transition: background 0s;
 
}










.cpv
{


position: absolute;
width: 1273px;
height: 974px;
left: 324px;
top: 2665px;
}






.np
{

  position: absolute;
width: 1272px;
height: 485px;
left: 324px;
top: 4194px;

}


.FOOTER
{


position: absolute;
width: 1920px;
height: 337px;
left: 0px;
top: 4748px;

display: flex;
flex-flow: row;
align-items: center;

}


















.rect-
{
position: absolute;
left: 0%;
right: 0%;
top: 84.57%;
bottom: 0%;

}

.rect-1
{
position: absolute;
left: 0%;
right: 0%;
top: 84.57%;
bottom: 0%;

background: #262626;
}



.text-1
{


position: absolute;
left: 16.88%;
right: 57.81%;
top: 87.83%;
bottom: 2.67%;


}


.menun
{

  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 15.43%;
}

.logon
{

  position: absolute;
left: 16.98%;
right: 74.89%;
top: 8.61%;
bottom: 78.04%;
}

.payment
{
position: absolute;
left: 16.88%;
right: 74.66%;
top: 64.99%;
bottom: 23.15%;

}



.pron
{
position: absolute;
left: 50.42%;
right: 16.93%;
top: 17.8%;
bottom: 16.91%;
}

.socn
{
position: absolute;
left: 70.78%;
right: 16.93%;
top: 71.22%;
bottom: 22.85%;
}


.bg
{

  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 15.43%;

background: #293343;
}


.tw
{color: #FFFFFF;}

.kn
{display: flex;
flex-direction: row;}


.linen
{

position: absolute;
left: 44.79%;
right: 55.16%;
top: 20.47%;
bottom: 24.63%;

background: #FFFFFF;
}

.text-2
{
  position: absolute;
left: 16.93%;
right: 77.03%;
top: 64.99%;
bottom: 30.27%;



color: #FFFFFF;

}



.visa
{

position: absolute;
left: 16.88%;
right: 81.52%;
top: 71.81%;
bottom: 23.15%;

  
}

.vis
{
position: absolute;
left: 19.18%;
right: 79.28%;
top: 71.81%;
bottom: 23.15%;

  
}

.mas
{

position: absolute;
left: 21.43%;
right: 76.96%;
top: 71.81%;
bottom: 23.15%;
  
}

.mae
{

position: absolute;
left: 23.74%;
right: 74.66%;
top: 71.81%;
bottom: 23.15%;
  
}





.pvx
{



text-align: right;

}


  


.al
{






}

.cs
{


white-space:nowrap;
}

.rls
{




}
.item
{
position: absolute;
left: 28.18%;
right: 58.13%;
top: 19.29%;
bottom: 23.44%;

display: flex;
flex-direction: column;


}

li
{

  list-style-type: none;
  align-content:space-between ;

}



.ulvn
{

padding-left: 10px;
color: #677180;
margin: 0;

}

.lin1::before 
{
content: "\2023";
color: FFFFFF;
padding-right: 10px;
}

.lin2::before 
{
  content: "\2023";
  color: FFFFFF;
  padding-right: 10px;

}





